<div class="wrapper internas">
    <div class="page-header page-header-internas">
    </div>
    <div class="container">

        <div class="row rowConteudo">
            <div class="col-sm-7 mt-4">
                <h3 class="titleWizard pt-4">Contato</h3>
            </div>
            <div class="boxBranco col-sm-7">
                <form class="formWizard">
                    
                  texto
                
                </form>
            </div>


            <div class="boxBotoes col-sm-7">
                <!-- <button type="submit" class="btnVoltar reduzido">
                    <i class="fi fi-rr-arrow-left"></i>
                    <span>voltar</span>
                </button>
                <button type="submit" class="btnVoltar">
                    <i class="fi fi-rr-arrow-left"></i>
                    <span>voltar</span>
                </button>
                <button type="submit" class="btnAdd">
                    <span>adicionar beneficiário</span>
                    <i class="fi fi-rr-plus-small"></i>
                </button> -->
                <button type="submit" class="btnPrincipal">
                    <span>avançar</span>
                    <i class="fi fi-rr-arrow-right"></i>
                </button>
            </div>

        </div>


    </div>
</div>