<div class="wrapper internas">
    <div class="page-header page-header-internas">
    </div>
    <div class="container">

        <!-- <button type="button" class="btn btn-outline-danger btn-round" placement="top" ngbTooltip="Tooltip on top">
                        on top
                    </button> -->
        <div class="row rowConteudo">
            <div class="navigationWizard col-sm-7 mt-4">
                <img class="wizardTeste" [src]="wizardTeste" />
                <h3 class="titleWizard pt-4">Começe escolhendo seu(s) beneficiário(s)</h3>
            </div>
            <div class="boxBranco col-sm-7">
                <form class="formWizard">
                    
                    <div class="inputGroup col-sm-12">
                        <input type="text" required="" autocomplete="off">
                        <label for="nome">Nome Completo</label>
                    </div>
                    <div class="inputGroup col-sm-6">
                        <input type="text" required="" autocomplete="off">
                        <label for="mail">E-mail</label>
                    </div>
                    <div class="inputGroup col-sm-6">
                        <input type="tel" required="" autocomplete="off">
                        <label for="tel">Telefone</label>
                    </div>
                    <div class="col-sm-12">
                        <label for="tel">gostaria de notificar o(s) beneficiário(s)?</label>
                        <label class="switch">
                            <label for="tel">SIM</label>
                            <input type="checkbox">
                            <span class="sliderSwitch"></span>
                            <label for="tel">NÃO</label>
                        </label>
                    </div>
                
                </form>
            </div>


            <div class="boxBotoes col-sm-7">
                <button type="submit" class="btnVoltar reduzido">
                    <i class="fi fi-rr-arrow-left"></i>
                    <span>voltar</span>
                </button>
                <button type="submit" class="btnVoltar">
                    <i class="fi fi-rr-arrow-left"></i>
                    <span>voltar</span>
                </button>
                <button type="submit" class="btnAdd">
                    <span>adicionar beneficiário</span>
                    <i class="fi fi-rr-plus-small"></i>
                </button>
                <button type="submit" class="btnPrincipal">
                    <span>avançar</span>
                    <i class="fi fi-rr-arrow-right"></i>
                </button>
            </div>

        </div>


    </div>
</div>