<!-- modal confirmação de conta -->
<form class="form_container">
    <div class="title_container">
        <h3 class="m-3">Bem vindo!</h3>
        <p class="">O seu cadastro foi realizado com sucesso! Para continuar informe o código enviado por SMS.</p>
    </div>
    <div class="inputGroup">
        <input class="inputVerify" type="tel" maxlength="1" required>
        <input class="inputVerify" type="tel" maxlength="1" required>
        <input class="inputVerify" type="tel" maxlength="1" required>
        <input class="inputVerify" type="tel" maxlength="1" required>
    </div>
    <button type="submit" class="btnEntrar">
        <span>entrar</span>
    </button>

    <div class="separator">
        <hr class="line">
        <a>
            <p class="">Enviar o código novamente</p>
        </a>
    </div>
</form>