<!-- modal login -->
<form class="form_container" *ngIf="exibirModalLogin">
    <div class="title_container">
        <h3 class="m-3">Acessar</h3>
    </div>
    <div class="inputGroup">
        <input type="text" required="" autocomplete="off">
        <i class="fi fi-rr-envelope"></i>
        <label for="mail">E-mail</label>
    </div>
    <div class="inputGroup">
        <input type="password" required="" autocomplete="off">
        <i class="fi fi-rr-key"></i>
        <label for="password">Senha</label>
    </div>
    <button type="submit" class="btnEntrar">
        <span>entrar</span>
    </button>
    <a class="btnRight" (click)="toggleRecuperarSenha()">
        ESQUECEU SUA SENHA?
    </a>
    <button type="submit" class="btnBorder" (click)="toggleCadastroUsuario()">
        <span>CADASTRAR NOVA CONTA</span>
    </button>

    <button type="submit" class="btnSign facebook">
        <!-- <div class="col-md-2"><i class="fi fi-brands-facebook"></i></div> -->
        <div class="col-md-2"><svg id="iconFace" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 24"><defs><style>.cls-1954{fill:#fff;}</style></defs><path class="cls-1954" d="m4.14,23c0-.07.02-.14.02-.21,0-3.19,0-6.39,0-9.58,0-.06,0-.13,0-.22H.8v-3.94h3.36c0-.11,0-.2,0-.28,0-1.01,0-2.02.03-3.03.04-1.25.41-2.39,1.29-3.32.65-.69,1.47-1.09,2.4-1.29.84-.18,1.69-.14,2.54-.11.59.02,1.18.08,1.78.12v3.51c-.18,0-.36,0-.53,0-.64.01-1.29.01-1.93.04-.95.04-1.48.56-1.51,1.51-.03.92,0,1.85,0,2.77,0,.01,0,.03.02.07h3.84c-.17,1.32-.34,2.62-.51,3.93h-3.35c0,.08-.01.13-.01.19,0,3.24,0,6.49,0,9.73,0,.04,0,.07,0,.11h-4.08Z"/></svg></div>
        <div class="col-md-10 text-left"><span>CONTIUAR COM
                FACEBOOK</span></div>
    </button>
    <button type="submit" class="btnSign tiktok">
        <div class="col-md-2"><i class="fi fi-brands-tik-tok"></i></div>
        <div class="col-md-10 text-left"><span>CONTIUAR COM
            TIKTOK</span></div>
        </button>
    <button type="submit" class="btnSign">
        <div class="col-md-2"><i class="fi fi-brands-google"></i></div>
        <div class="col-md-10 text-left"><span>CONTIUAR COM
                GOOGLE</span></div>
    </button>
        
    <div class="separator">
        <hr class="line">
        <a (click)="toggleChaveAcesso()">
            <p class="">ENTRAR COM CHAVE DE ACESSO</p>
        </a>
    </div>
</form>

<app-form-recuperar-senha *ngIf="!exibirModalLogin"></app-form-recuperar-senha>

<app-form-cadastro *ngIf="!exibirModalCadastro"></app-form-cadastro>

<app-form-chave-acesso *ngIf="!exibirModalChaveAcesso"></app-form-chave-acesso>

<!-- <app-form-confirmacao-conta></app-form-confirmacao-conta> -->


