// ----- cores -----
@amarelo_escuro: #CC9D66;
@amarelo_claro: #E7B06E;
@cinza: #828282;
@cinza_bg: #D4D8D6;
@cor_icones: #C39984;
@azul: #88BCC2;
@azul_escuro: #6D9994;
@verde: #69B88A;
@verde_escuro: #5B9974;
@marrom_escuro: #725E5E;
@marrom_claro: #B58F8C;
@laranja: #E3AC6B;
@vermelho: #E39898;  
@gradiente_amarelo: linear-gradient(90deg, rgba(204,157,102,1) 0%, rgba(231,176,110,1) 35%);
@gradiente_marrom: radial-gradient(circle, #3d2935 0%, #E8B48D 83%);
@gradiente_cinza: linear-gradient(90deg, #D4D8D6 0%, #F1F1F1 83%);
@gradiente_cinza_top: linear-gradient(0deg, #D4D8D6 0%, #F1F1F1 83%);



a.btn.btn-danger.btn-round {
    background: blue !important;
}