// ----- cores -----
@amarelo_escuro      : #CC9D66 !important;
@amarelo_claro       : #E7B06E !important;
@cinza               : #828282 !important;
@cinza_bg            : #D4D8D6 !important;
@cor_icones          : #C39984 !important;
@corSeparador        : #8282822e !important;
@azul                : #88BCC2 !important;
@azul_escuro         : #6D9994 !important;
@verde               : #69B88A !important;
@verde_escuro        : #5B9974 !important;
@marrom_escuro       : #725E5E !important;
@marrom_claro        : #B58F8C !important;
@laranja             : #E3AC6B !important;
@vermelho            : #E39898 !important;
@vermelho_escuro     : #ad6969 !important;
@gradient_amarelo    : linear-gradient(90deg, rgba(204, 157, 102, 1) 0%, rgba(231, 176, 110, 1) 35%) !important;
@gradient_marrom     : radial-gradient(circle, #3d2935 0%, #E8B48D 83%) !important;
@gradient_marrom_top : linear-gradient(90deg, #3d2935 0%, #8e6a5e 83%) !important;
@gradient_cinza      : linear-gradient(90deg, #D4D8D6 0%, #F1F1F1 83%) !important;
@gradient_cinza_top  : linear-gradient(0deg, #D4D8D6 0%, #F1F1F1 83%) !important;


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    margin: 0 !important;
}

a {
    cursor: pointer !important;
}

h3,
.h3 {
    font-size  : 1.3rem;
    line-height: 1.2;
}

b, strong {
    font-weight: bold !important;
}


.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 80% !important;
}


:focus-visible {
    outline: none !important;
}

button:focus {
    outline   : none !important;
    box-shadow: 1px 1px 1px 1px #3c3b3b52;
}

.navbar-transparent .logoLanding {
    width  : 12vw;
    padding: 1rem 0;
}

.logoLanding {
    width  : 7vw;
    padding: 1rem 0;
}

.logoInterna {
    width  : 12vw;
    padding: 1rem 0;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size     : .95rem !important;
    line-height   : 1.1 !important;
    padding       : 0 0 0 3vw !important;
    text-transform: uppercase;
    font-weight   : 400 !important;
    color         : #fff !important;
    opacity       : 1 !important;
    display: flex;
}

.navbar .nav-link i {
    color: @amarelo_claro;
    right: 5px !important;
    top: unset !important;
}

.navbar-transparent .nav-link i {
    color: @amarelo_escuro;
    right: 5px !important;
    top: unset !important;
}

.navbar.navbar-transparent {
    padding-top: 0 !important;
}

.navbar .navbar-brand {
    margin : 0 !important;
    padding: 0 !important;
}

.nav-open span.navbar-toggler-bar {
    background: transparent !important;
}

.navbar-translate,
.page-header-internas .navbar-translate {
    z-index: 9999999999999999999 !important;
}

.nav-open span.navbar-toggler-bar:nth-child(1):before {
    content: "\f67f";
    font-family: uicons-regular-rounded !important;
    color: @cinza;
    font-size: 1.4rem;
    font-weight: 400 !important;
    opacity: .8;
    position: relative;
    top: -4px;
}

.navbar {
    background: @gradient_marrom_top;
}

.bannerVideo {
    z-index        : 0;
    outline        : none !important;
    width          : 100%;
    max-width      : 100%;
    display        : flex !important;
    justify-content: center;
    background     : radial-gradient(circle, #A5886A 0, #00000082 78%);
}

.bannerVideo video {
    filter: grayscale(.8) opacity(0.25) blur(3px);
    width : 100%;
}

.bannerVideo .contentVideo {
    position  : absolute;
    top       : 38vh;
    z-index   : 1;
    margin    : 0 auto;
    text-align: center;
    width     : 100%;
    padding   : 0 5%;
}

.boxLogin {
    position: absolute;
    top     : 15vh;
    right   : 5vw;
}

.separator {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    color          : @cinza;
    flex-direction : column;
}

.separator .line {
    display         : block;
    width           : 100%;
    height          : 1px;
    border          : 0;
    background-color: @corSeparador;
}

.separator>a {
    display        : flex;
    flex-direction : revert;
    gap            : 1rem;
    align-items    : center;
    justify-content: center;
    cursor         : pointer;
}

.separator>a:hover,
a.btnRight:hover {
    color     : @marrom_claro;
    transform : scale(1.02);
    transition: all ease 0.3s;
}

.page-header {
    background-color   : #5c3c3c;
    background-position: top center;
    background-size    : cover;
    min-height         : 100vh;
    max-height         : 999px;
    position           : relative;
    width              : 100%;
    z-index            : 1;
    display            : flex;
    align-items        : center;
    justify-content    : center;
    -ms-flex-pack      : center;
    overflow           : hidden;
}

.page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content         : "";
    display         : block;
    height          : 100%;
    left            : 0;
    top             : 0;
    position        : absolute;
    width           : 100%;
    z-index         : 1;
}

.page-header.page-header-small {
    min-height: 65vh !important;
    max-height: 700px;
}

.page-header.page-header-xs {
    min-height: 40vh !important;
}

.page-header.section-dark .content-center,
.page-header.section-dark .category-absolute {
    z-index: 1;
}

.page-header .motto {
    text-align: left;
    z-index   : 3;
    color     : #fff;
    position  : relative;
}

.page-header .content-center {
    margin-top: 85px;
}

.page-header .card-register .title {
    margin-bottom: 10px;
}


.note {
    font-size      : 0.75rem;
    color          : @cinza;
    text-decoration: none;
}

.title_container h3 {
    max-width  : 20ch;
    text-align : center;
    line-height: 1;
}


/* -------    inputs    -------- */
.form_container {
    width          : 23vw;
    height         : fit-content;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    gap            : 22px;
    padding        : 3vh 2vw 1vh;
    background     : @gradient_cinza;
    box-shadow     : 0px 16px 42px rgba(0, 0, 0, 0.01),
        0px 19px 6px rgba(0, 0, 0, 0.05), 0px 6px 6px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition   : all ease 1s;
}

.form_container:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    scale     : 0.99;
    transition: all ease 1s;
}

.input_container {
    width         : 100%;
    height        : fit-content;
    position      : relative;
    display       : flex;
    flex-direction: column;
    gap           : 5px;
}

.inputGroup i {
    width          : 20px;
    position       : absolute;
    z-index        : 99;
    left           : 12px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.input_label {
    font-size  : 0.75rem;
    color      : #8B8E98;
    font-weight: 600;
}

.input_field {
    width        : auto;
    height       : 40px;
    padding      : 0 0 0 40px;
    border-radius: 7px;
    outline      : none;
    border       : 1px solid #e5e5e5;
    filter       : drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition   : all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border          : 1px solid transparent;
    box-shadow      : 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.inputGroup {
    position   : relative;
    display    : flex;
    align-items: center;
    width      : 100%;
}

.inputGroup input {
    height          : 48px;
    font-size       : 100%;
    /* padding      : 0.8em; */
    outline         : none;
    border          : 2px solid rgb(200, 200, 200);
    background      : #fff;
    border-radius   : 8px;
    width           : 100%;
    padding         : 0 0 0 3.5rem;
}

.inputGroup label {
    font-size        : 100%;
    height           : 100%;
    position         : absolute;
    left             : 0;
    padding          : 1rem;
    margin-left      : 0.5em;
    margin-left      : 2.5rem;
    pointer-events   : none;
    transition       : all 0.3s ease;
    // color         : rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform  : translateY(-122%) scale(.85);
    height     : auto;
    margin-left: 2rem;
    padding    : 0.1rem 0.5rem;
}

.internas .inputGroup input {
    background  : linear-gradient(90deg, #d4d8d67d 0%, #F1F1F1 83%) !important;
    border-color: #F1F1F1;
    padding     : 0 1rem;
}

.internas .inputGroup label {
    margin: 0 1rem;
}

.internas .inputGroup :is(input:focus, input:valid)~label {
    transform  : translateY(-146%) scale(.9);
    height     : auto;
    margin-left: 1rem;
    padding    : 0.1rem 0.5rem;
}

.inputGroup :is(input:focus, input:valid)~label:after {
    transform: translateY(264%) scaleY(2.1) translateX(-3px);
    margin   : 0;
}


.inputGroup :is(input:focus, input:valid) {
    border-color: @corSeparador;
}

.inputGroup :is(input:focus, input:valid)~label.ajusteLabel:after {
    transform: translateY(264%) scaleY(2.1) translateX(-10px);
    margin   : 0;
}


.inputGroup label:after {
    position  : absolute;
    background: @cinza;
    width     : 0.1px;
    height    : 48%;
    left      : 5px;
    content   : "";
    top       : 18px;
}

.internas .inputGroup label:after {
    display: none;

}

.internas .container {
    padding: 2rem 0;
}


.linhaVertical {
    position  : absolute;
    background: #c8c8c8;
    width     : 0.1px;
    height    : 48%;
    left      : 2.8rem;
}

input.inputVerify {
    padding   : 0 !important;
    text-align: center;
}

.inputVerify {
    width        : 2.5em;
    height       : 2.5em;
    margin       : 1em;
    border-radius: 6px;
    transition   : .4s ease-in-out;
}


/* -------  fim  inputs    -------- */


.gradient-border {
    --white      : linear-gradient (white, white);
    --gradient   : linear-gradient(to right, @cinza, @cinza_bg);
    border       : solid .25rem transparent;
    border-radius: .5rem;
    background   : var(--white) padding-box,
        var(--gradient) border-box;
}

.page-header.page-header-internas {
    min-height: 12vh !important;
}

.navbar.page-header-internas {
    min-height: 12vh !important;
    background: #fff !important;
}

.page-header-internas .navbar-nav .nav-item .nav-link {
    color  : @amarelo_claro;
    opacity: 1 !important;
}

.page-header-internas .nav-link i {
    color: @verde;
}

.page-header-internas .navbar-translate {
    display    : flex;
    align-items: center;
    gap        : 4rem;
}

.msgBemVindo span {
    color      : @amarelo_claro;
    font-weight: 600;
}



// ------ icones -------
.nav-link i.fi-rr-house-laptop:before {
    font-weight: 600 !important;
}

svg#iconFace {
    width: 10px;
}

.fi-rr-plus-small:before {
    font-size: 1.2rem;
}



// ------ fim icones -------
button.navbar-toggler.navbar-burger {
    flex-direction: column;
    box-shadow    : none !important;
    width         : auto;
}

button i.fi {
    display    : flex;
    align-items: center;
}

button {
    background     : transparent;
    position       : relative;
    width          : 100%;
    height         : 40px;
    box-shadow: inset -1px -1px 6px -3px #00000042;
    background-size: 280% auto;
    border-radius  : 12px !important;
    outline        : none;
    cursor         : pointer;
    display        : flex;
    align-items    : center;
    justify-content: center;
    text-transform : uppercase !important;
    font-weight    : 600 !important;
    transition     : all ease 0.3s;
}

button:hover {
    background-position: right top;
    box-shadow         : inset 1px 1px 6px -3px #00000042;
    transform          : scale(1.02);
    transition         : all ease 0.3s;
}

.btnPrincipal,
.btnEntrar {
    border          : 0;
    background-image: @gradient_amarelo;
    background-size : 280% auto;
    outline         : none;
    color           : #fff;
    transition      : all ease 0.3s;
}

.btnAdd {
    padding: 0 1rem 0 0;
    background: #dddddd;
    border    : 2px solid @verde;
    color     : @verde;
    transition: all ease 0.3s;
}
.btnAdd.light {
    background: #f0f0f0;
}

.btnVoltar {
    border    : 2px solid @marrom_escuro;
    background: #dddddd;
    color     : @marrom_escuro;
    transition: all ease 0.3s;
}

.btnVoltar.reduzido {
    width     : 40%;
    padding-left: 2rem;
    background: transparent !important;
    border    : none !important;
    color     : @marrom_escuro;
    box-shadow: none;
    transition: all ease 0.3s;
}

.btnVoltar:hover {
    border    : 2px solid @marrom_claro;
    color     : @marrom_claro;
    transition: all ease 0.3s;
}
.btnVoltar.reduzido:hover {
    border    : none !important;
    color     : @marrom_claro;
    transition: all ease 0.3s;
}

.btnAdd i,
.btnPrincipal i {
    position: absolute;
    right   : 1vw;
}

.btnVoltar i {
    position: absolute;
    left    : 1vw;
}

.btnPrincipal:hover,
.btnEntrar:hover {
    background-position: right top;
    box-shadow         : inset 2px 2px 10px -3px #00000042;
    transform          : scale(1.02);
    transition         : all ease 0.3s;
}

.btnRight {
    width     : 100%;
    text-align: right;
}

.btnSign {
    gap          : 10px;
    background   : @vermelho_escuro;
    border-radius: 8px;
    color        : #fff;
    border       : 0;
    font-weight  : 300 !important;
}

.btnSign div:nth-child(1) {
    height                   : 100%;
    display                  : flex;
    align-items              : center;
    justify-content          : center;
    backdrop-filter          : brightness(0.85);
    border-top-left-radius   : 8px;
    border-bottom-left-radius: 8px;
}

.btnSign.tiktok {
    background: #484747 !important;
}

.btnSign.facebook {
    background: #3A5999 !important;
}

.btnBorder {
    font-weight  : 400 !important;
    background   : transparent;
    border-radius: 8px;
    color        : @marrom_escuro;
    border       : 1px solid @marrom_escuro;
}

a.btnRight {
    color: @marrom_escuro;
}


// -------- switch slider checkbox-----
.sliderSwitch {
    // background-color: #ffffff2b;
    background         : @amarelo_claro;
    border-radius      : 100px;
    padding            : 1px;
    margin             : 10px;
    cursor             : pointer;
    transition         : box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    align-items        : center;
    position           : relative;
    display            : inline-block;
    width              : 51px;
    height             : 29px;
    // box-shadow      : rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset, #22cc3f 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.sliderSwitch::after {
    content         : "";
    display         : flex;
    top             : 2.3px;
    left            : 2px;
    width           : 26px;
    height          : 26px;
    background-color: #e3e3e3;
    border-radius   : 200px;
    position        : absolute;
    box-shadow      : transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
    transition      : left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
        background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    will-change: left, background-color;
}

.switch input[type="checkbox"]:checked+.sliderSwitch {
    background   : @cinza_bg;
    // box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #22cc3f 0px 0px 0px 2px inset, rgba(0, 0, 0, 0.3) 0px 0px 0px 24px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.switch input[type="checkbox"]:checked+.sliderSwitch::after {
    left: 24px;
}

.switch input[type="checkbox"] {
    display: none;
}

// -------- fim switch slider checkbox-----

.wrapper.internas {
    background    : @gradient_cinza_top;
    min-height    : 90vh;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.footer {
    box-shadow: 0 -7px 11px -8px #00000026, 0 0 0 0 rgb(149 0 0 / 0%);
}

.rowConteudo {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    gap            : 2rem;
}

.boxBranco {
    display      : flex;
    background   : #fff;
    box-shadow   : 0 6px 10px -4px #00000026;
    border-radius: 8px;
    padding      : 3rem 2rem 2rem !important;
}

.boxBotoes {
    display       : flex;
    gap           : 1rem;
    line-height   : 1;
    width         : 100%;
    padding       : 0 !important;
    padding-bottom: 2rem !important;
}

.tab-content>.active {
    display        : flex !important;
    flex-direction : row;
    align-items    : center;
    justify-content: center;
}

.formWizard {
    width    : 100%;
    display  : flex;
    flex-wrap: wrap;
    row-gap  : 2rem;
}

.navigationWizard {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.titleWizard {
    font-size      : 1.3rem;
    color          : @amarelo_claro;
    margin-bottom  : -1rem !important;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.formWizard label {
    text-transform: uppercase;
}

.switch {
    display    : flex;
    align-items: center;
}

img.wizardTeste {
    max-width: 100%;
}



















// ----- responsividade -------

@media screen and (max-width: 1369px) {

    // app-root {
    //     zoom: .75;
    // }


    .navbar .navbar-nav .nav-item .nav-link {
        font-size: .8rem !important;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 90% !important;
    }

    .form_container {
        width  : 27vw;
        gap    : 1.2rem;
        padding: 1vh 2vw 1vh;
    }

    p,
    a,
    .navbar .nav-link i,
    button,
    input,
    optgroup,
    select,
    textarea {
        font-size: 90% !important;
    }



}

@media screen and (max-width: 1299px) {
    .msgBemVindo {
        display: none !important;
    }
}

@media screen and (max-width: 1199px) {
    .boxLogin {
        display: flex;
        width: 100%;
        right: unset;
        align-items: center;
        justify-content: center;
    }
    .form_container {
        width: 50vw;
        gap: 1.2rem;
        padding: 1vh 4vw 1vh;
    }
}