<div class="wrapper internas">
    <div class="page-header page-header-internas">
    </div>
    <div class="container">

        <div class="row rowConteudo">
            <div class="col-sm-9 mt-4 p-0 d-flex justify-content-end">
                <div class="gridBtnRight col-sm-3 p-0">
                    <button type="submit" class="btnAdd light">
                        <span>adicionar novo arquivo</span>
                        <i class="fi fi-rr-plus-small"></i>
                    </button>
                </div>
            </div>
            <div class="boxBranco col-sm-9">
                <div class="container">


                    <ngb-tabset [destroyOnHide]="false">

                        <ngb-tab title="Meus arquivos">
                            <ng-template ngbTabContent>
                                <div class="row">
                                   Aqui você consegue visualizar seus
                                        arquivos,
                                        consultar detalhes e também
                                        administrá-los
                                        da melhor forma.
                                </div>
                                <div class="row">
                                    <app-meus-arquivos></app-meus-arquivos>
                                </div>

                            </ng-template>
                        </ngb-tab>

                        <ngb-tab>
                            <ng-template ngbTabTitle>Minha conta</ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <p>Alterar dados cadastrais da conta.</p>
                                    <button type="submit" class="btnAdd">
                                        <span>Desativar conta</span>
                                        <i class="fi fi-rr-plus-small"></i>
                                    </button>
                                </div>
                                <div class="row">
                                    <app-minha-conta></app-minha-conta>
                                </div>
                            </ng-template>
                        </ngb-tab>


                    </ngb-tabset>
                </div>
            </div>


            <div class="boxBotoes col-sm-7">
                <!-- <button type="submit" class="btnVoltar reduzido">
                    <i class="fi fi-rr-arrow-left"></i>
                    <span>voltar</span>
                </button>
                <button type="submit" class="btnVoltar">
                    <i class="fi fi-rr-arrow-left"></i>
                    <span>voltar</span>
                </button>
                <button type="submit" class="btnAdd">
                    <span>adicionar novo arquivo</span>
                    <i class="fi fi-rr-plus-small"></i>
                </button> -->
                <!-- <button type="submit" class="btnPrincipal">
                    <span>avançar</span>
                    <i class="fi fi-rr-arrow-right"></i>
                </button> -->
            </div>

        </div>


    </div>
</div>